.main {
    text-align: center;
}

.btn {
    height: 100px;
    width: 100px;
    margin: 5px;
}


.playerOne {
    border-style: outset;
    height: 100px;
    width: 50px;
    margin-top: 30px;
    text-align: center;
}

.resetBtn {
    height: 100px;
    width: 100px;
    margin-top: 25px;
    text-align: center;
}

.select_btn {
    margin-top: 50px;
}

.reset {
    height: 100px;
    width: 100px;
    margin: 5px;
}

.playerTwo {
    border-style: outset;
    height: 100px;
    width: 50px;
    margin-top: 30px;
    text-align: center;
}

#oneWin {
    color: #004cff;
}

#twoWin {
    color: #ff0000;
}

.heading {
    text-align: center;
    background-color: #bc9f4d;
    background: linear-gradient(#bc9f4d, grey);
}

.test {
    text-align: center;
}

.player1 {
    background: linear-gradient(to right, grey, blue);
}

.player2 {
    background: linear-gradient(to left, grey, red);
}
